<tr>                  
    <td>
        <%= obj["Name of Property Owner or Mgmt Company"] %>
    </td>                  
    <td>
        <%= formatAddress(obj) %><br />
        (<a href='http://maps.google.com/?q=<%= formatAddress(obj) %>' target='_blank'>Get directions</a>)
    </td> 
    <td>
        <%= obj["Type of Building (see dropdown)"] %>
    </td>
</tr>